<!DOCTYPE html>
<html>

<head>
  <title>MobilizeCodeChallenge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <section class="flash">
    <% flash.each do |type, message| %>
    <%= content_tag :div, message%>
    <% end %>
  </section>
  <%= yield %>
</body>

</html>